global
  #Disable ssl cert validation for availability health checks
  #Here, Haproxy is used at the transport layer so clients are expected to do cert validation separately
  ssl-server-verify none

defaults
  mode tcp
  timeout connect {{ connection_timeout }}ms
  timeout client {{ client_timeout }}ms
  timeout server {{ server_timeout }}ms

backend k8_api_servers
  balance roundrobin
	option tcp-check
  tcp-check connect ssl
  default-server inter 1000ms rise 1 fall 1
  {%- for peer_ip in peer_inventory_hostnames.split(' ') %}
  {{ '\n' }}  server master_{{ peer_ip }} {{ peer_ip }}:6443 check
  {%- endfor %}
  {{ '\n' }}

frontend k8_api
  bind *:6443
  mode tcp
  default_backend k8_api_servers