backend k8_api_servers
   balance roundrobin
	 option tcp-check
	 tcp-check connect ssl
   {%- for peer_ip in peer_inventory_hostnames.split(' ') %}
   {{ '\n' }}server master_{{ peer_ip }} {{ peer_ip }}:6443
   {%- endfor %}

frontend k8_api
  bind *:6443
  mode tcp
  default_backend k8_api_servers